.comite.left{
    transform: translateX(-100%);
}

.comite.right{
    transform: translateX(100%);
}

.animateComiteLeft{
    animation: animateComiteLeft 1s forwards;
}

.animateComiteRight{
    animation: animateComiteRight 1s forwards;
}


@keyframes animateComiteLeft {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes animateComiteRight {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
