.jury{
    overflow: hidden;
}

.jury:hover .title{
    animation: jury-title 1s forwards ease-in-out;
}

.jury:hover .info-container{
    display: grid;
    opacity: 0;
    animation: jury-img 1s forwards ease-in-out;
}

.jury:hover .info-container .infos,
.jury:hover .info-container:hover .infos{
    display: block;
    animation: jury-info 1s forwards ease-in-out;
}

.jury:hover .description{
    display: block;
    animation: jury-description 1s forwards ease-in-out;
}

@keyframes jury-title {
    0%{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
    }
    100%{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}

@keyframes jury-img {
    0%{
        opacity: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        width: 90%;
        height: 40%;
        transform: translateY(0%);
    }
}

@keyframes jury-info {
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes jury-description {
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
