.laureats .left{
    transform: translateX(-100%);
}

.laureats .right{
    transform: translateX(100%);
}

.animateLaureatsLeft{
    animation: animateLaureatsLeft 1s forwards;
}

.animateLaureatsRight{
    animation: animateLaureatsRight 1s forwards;
}


@keyframes animateLaureatsLeft {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animateLaureatsRight {
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
