*{
    margin: 0;
    padding: 0;
}

.pics-scroller::-webkit-scrollbar{
    height: 6px;
}

.pics-scroller::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 100px;
}

.slide-text {
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity .5s ease-out, transform .5s ease-out;
}

.slide-text.animate {
    opacity: 1;
    transform: translateX(0px);
}

.pic-title{
    transition: opacity .6s ease-in-out;
}

.galerie-pic:hover ~ .pic-title{
    opacity: 1;
}

#alert {
    display: flex;
    animation: alert 5s forwards;
}

.alert-time-bar{
    animation: alert_time_bar 5.5s forwards ease-in-out;
}

@keyframes alert {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes alert_time_bar {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
