*{
    margin: 0;
    padding: 0;
}

#alert {
    display: flex;
    animation: alert 5s forwards;
}

.alert-time-bar{
    animation: alert_time_bar 5.5s forwards ease-in-out;
}

@keyframes alert {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes alert_time_bar {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
