*{
    margin: 0;
    padding: 0;
}

.pics-scroller::-webkit-scrollbar{
    height: 6px;
}

.pics-scroller::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 100px;
}

.slide-text {
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity .5s ease-out, transform .5s ease-out;
}

.slide-text.animate {
    opacity: 1;
    transform: translateX(0px);
}

.pic-title{
    transition: opacity .6s ease-in-out;
}

.galerie-pic:hover ~ .pic-title{
    opacity: 1;
}

#alert {
    display: flex;
    animation: alert 5s forwards;
}

.alert-time-bar{
    animation: alert_time_bar 5.5s forwards ease-in-out;
}

@keyframes alert {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes alert_time_bar {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.jury{
    overflow: hidden;
}

.jury:hover .title{
    animation: jury-title 1s forwards ease-in-out;
}

.jury:hover .info-container{
    display: grid;
    opacity: 0;
    animation: jury-img 1s forwards ease-in-out;
}

.jury:hover .info-container .infos,
.jury:hover .info-container:hover .infos{
    display: block;
    animation: jury-info 1s forwards ease-in-out;
}

.jury:hover .description{
    display: block;
    animation: jury-description 1s forwards ease-in-out;
}

@keyframes jury-title {
    0%{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
    }
    100%{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}

@keyframes jury-img {
    0%{
        opacity: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        width: 90%;
        height: 40%;
        transform: translateY(0%);
    }
}

@keyframes jury-info {
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes jury-description {
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


